@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Raleway:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
}

nav {
    background-color: #000000;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 15px 20px;
}

.secciones a {
    color: #C9C9C9;
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    padding: 0px 15px;
}

.encabezado {
    background-image: linear-gradient(to bottom,
            rgba(0, 0, 0, 0.6),
            rgba(0, 0, 0, 0)),
        url(../assets/images/headerBg.png);
    background-size: cover;
    height: 70vh;
    color: white;
    padding: 40px 190px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}

.logo img {
    max-width: 110px;
    height: auto;
}


.img-axit {
    padding: 10px 140px;
}

.titulo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    max-width: 600px;
    gap: 20px;
    padding: 20px 140px;
}

.titulo-principal {
    font-size: 30px;

}

.titulo p {
    font-size: 20px;
    line-height: 1.4;
}

.titulo button {
    background-color: transparent;
    color: white;
    border: 2px solid white;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

.linea {
    width: 80px;
    height: 2px;
    background-color: white;
}

form {
    background: #FFFFFF;
    padding: 30px;
    border-radius: 5px;
    max-width: 350px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    margin-right: 190px;

}

form p {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
    margin-top: -30px;
    text-align: center;
    padding: 20px 40px;
    background-color: #F5F5F5;
    color: #000000;

}


form p span {
    color: orange;
}

.formulario {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.formulario input {
    padding: 12px;
    border: none;
    border-bottom: 1px solid #ccc;
    font-size: 14px;

}

button {
    background-color: #FF9B51;
    color: white;
    font-size: 16px;
    border: none;
    padding: 15px;
    margin-top: 20px;
    border-radius: 0 0 5px 5px;

}

.contendor-marcas {
    padding: 40px 320px 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-top: 25px;
}

.contendor-marcas h3 {
    font-size: 24px;
}

.text-p {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}

.text-p p {
    max-width: 600px;
    color: #86878B;
    line-height: 1.4;

}

.marcas {
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
    align-items: center;
}

.contenedor-cajas {
    display: flex;
    align-items: flex-start;
    gap: 20px;
    background-color: #F5F5F5;
    padding: 80px 100px;

}


.cajas2 .tab1 {
    width: 60px;
    padding: 50px;
    background-color: #FF8B38;
    gap: 2px;
     margin-left: 220px;
    margin-top: 40px;
    border-bottom: 2px solid white;
}

.tab1 p {
    color: #FFFFFF;
}


.cajas2 .tab2 {
    width: 60px;
    padding: 50px;
    background-color: #333333;
    gap: 2px;
    margin-left: 220px;
    border-bottom: 2px solid white;

}

.tab2 p {
    color: #FFFFFF;
}

.cajas2 .tab3 {
    width: 60px;
    padding: 50px;
    background-color: #333333;
    margin-left: 220px;

}

.tab3 p {
    color: #FFFFFF;
}

.titulo-tabs {
    margin-left: 150px;
    width: 600px;
    line-height: 1.8;
    margin-bottom: 10px;
    margin-top: 0px;
    margin-top: 20px;
}

.img-edificios {
    margin-top: 80px;
    width: 100px;
}